*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

form{
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
}

form fieldset{
    padding: 30px 40px;
    border: 1px solid #ccc;
    margin: 20px 0;
}

form legend{
    font-family: sans-serif;
    font-size: 15px;
    text-align: left;
}

form input[type=text]{
    border: 1px solid #ccc;
    margin-top: 15px;
    width: 80%;
    padding: 10px;
    display: inline-block;
    outline: none;
}

form select{
    width: 30%;
    height: 20px;
    color: #666;
    font-family: sans-serif;
    outline: none;
    text-align: center;
    border: 1px solid #ccc;
    margin-top: 15px;
}

form h2{
    margin-top: 15px;
    font-family: sans-serif;
}

form .radio{
    margin-top: 15px;
    text-align: left;
    display: inline-block;
}

.radio span{
    margin-left: 9px;
    font-family: sans-serif;
    font-size: 13px;
    color: #666;
}

form input[type=submit]{
    border: 1px solid #ccc;
    margin-top: 25px;
    height: 25px;
    width: 25%;
    cursor: pointer;

    font-size: 13px;
    font-family: sans-serif;
    color: #666;
}

form input[type=submit]:hover{
    background-color: #ccc;
    border: 1px solid #666;
    transition: 0.6s;
}

form textarea{
    width: 80%;
    height: 130px;
    resize: none;
    outline: none;
    padding: 10px;

    margin-top: 15px;
    background-color: rgba(204, 204, 204, 0.418);
    color: #000;
}

legend{
    color: #666;
    padding: 2px 15px;
}
